<div class="ui form">
  <div class="fields">
    <form [formGroup]="bookForm" novalidate>
      <div class="field">
        <label>Book Name</label>
        <input type="text" placeholder="Book Name" formControlName="name">
      </div>

      <div class="field">
        <label>Book Description</label>
        <input type="text" placeholder="Book Description" formControlName="description">
      </div>
      <div class="field">
        <label>Book old price</label>
        <input type="text" placeholder="Book old price" formControlName="oldPrice">
      </div>
      <div class="field">
        <label>Book recent price</label>
        <input type="text" placeholder="Book recent price" formControlName="recentPrice">
      </div>
      <div class="field">
        <label>Total Books added</label>
        <input type="text" placeholder="total Books added" formControlName="inMarket">
      </div>
      <div class="field">
        <label>Available Books</label>
        <input type="text" placeholder="available Books" formControlName="availableBooks">
      </div>
      <div class="ui button" (click)="updateBook()" tabindex="0">Update</div>
    </form>

  </div>
</div>