<!--<div class="ui raised very padded text container segment">
  <div class="ui container">
    <label>Parse Rss Books Feed</label>
    <sui-accordion class="styled fluid">
      <sui-accordion-panel>
        <div title>

        </div>

        <div content>
          <p>{{ book }}</p>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>
</div>-->
<div class="ui primary dropdown button" suiDropdown [(isOpen)]="isOpen" [isDisabled]="false">
  <div class="text">Add Books</div>
  <i class="dropdown icon"></i>
  <div class="ui tiny menu" suiDropdownMenu>
    <book-generator *ngFor="let feed of booksFeed" class="item" [book]="feed" (parseBooks)="parseBooks($event)"></book-generator>
  </div>
</div>


<div class="ui raised very padded text container segment">
  <div class="ui container">
    <book-form (insert)="addBook($event)"></book-form>
  </div>
</div>
<div class="ui raised very padded text container segment">
  <div class="ui container">
    <book-list *ngFor='let book of books' [book]='book'(delete)="deleteBook(book)">
    </book-list>
  </div>
</div>