<sui-accordion class="styled fluid">
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i> Number: {{command._id}}
<!--      <div (click)="delete(i, movie)">
-->        <i class="trash outline icon"></i>
  <!--    </div>
      <div (click)="update(i, movie)">-->
        <i class="edit icon"></i>
<!--      </div>
-->    </div>
    <div content>
      <p>Command's date: {{ command.date }}</p>
      <p>Command's books:</p>
      <p *ngFor="let book of command.books">{{book.name}}</p>
    </div>
  </sui-accordion-panel>
</sui-accordion>