<br><br><br><br>
<div class="ui secondary menu">
    <div class="right menu">
        <div class="item">
            <div class="ui action left icon input">
                <store-header-search (search)="search($event)"></store-header-search>
            </div>
        </div>
    </div>
</div>
<div class="ui raised very padded text container piled segments">
    <div class="ui segment">
        <div class="ui left rail">
            <div class="ui segment">
                <app-research (search)="search($event)"></app-research>
            </div>
        </div>
        <div class="ui segment">

            <!--<div class="ui raised very padded text container segment">-->
            <div class="ui four column doubling grid">
                <book-catalog *ngFor="let book of books" [book]='book'></book-catalog>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<br><br><br><br>