<sui-accordion class="styled fluid">
  <sui-accordion-panel>
    <div title>
    <div class="ui sixteen column stackable grid">
      <div class="fourteen wide column">
        <i class="dropdown icon"></i>{{book.name}}
      </div>
      <div class="one wide column" (click)="deleteBook(book)">
        <i class="trash outline icon"></i>
      </div>
      <div class="one wide column" (click)="updateBook(book)">
        <i class="edit icon"></i>
      </div>
    </div>

      <!--<div class="three column row">
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui segment">Content</div>
  </div>
  <div class="six wide column">
    <div class="ui segment">Content</div>
  </div>-->
    </div>
    <div content>
      <p>{{ book.description }}</p>
      <book-pusher [book]="book"></book-pusher>
    </div>
  </sui-accordion-panel>
</sui-accordion>